.usersScreen{
    margin: 10rem auto;
    display: flex;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-between;
}

.userTable{
    width:auto;
    margin: 0 auto;
    border: 2px solid darkcyan;
}

thead th{
    width: auto;
    text-align: center;
}

.userNameTd{
    width: 15rem;
}

tbody tr td{
    text-align: center;
}