.userDetails{
    margin: 0 auto;
}

.userTable{
    width:auto;
    margin: 0 auto;
    border: 2px solid darkcyan;
}

thead th{
    width: auto;
    text-align: center;
}

.userNameTd{
    width: 15rem;
}

tbody tr td{
    text-align: center;
}