.card{
    background-color: rgb(226, 223, 223);
    border-radius: 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 30%;
}

.cardTitle{
    font-size: 2rem;
}

.cardDetails{
    font-size: 1rem;
}